@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .fa-user-circle {
    position: relative;
    left: 7%;
    top: 2px;
    transform: scale(1.5);
  }

  .list-button {
    box-shadow: 1px 1px 0px #00000029;
    border: 0.5px solid #cbd8db;
    padding: 3px;
  }

  .bars-mobile {
    color: #cbd8db;
    font-size: 0.8em;
  }

  .mobile-user-button {
    font-family: 'Grandstander', cursive;
    text-align: left;
    color: #333333;
  }

  .mobile-user-button span {
    font-size: 15px;
  }
  .flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }

  .main-section-header {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1em;
  }

  .light-headers-slider1 {
    font-size: 0.7em;
  }

  .slider-header,
  .silder-header-small {
    font-size: 1em;
  }
  .rounded-button {
    font-size: 0.8em;
  }

  .light-headers-slider2 {
    font-size: 0.7em;
  }

  .share-button {
    width: 100%;
  }
  .section-title h3 {
    font-size: 1.2em;
  }

  .shape-container {
    display: none;
  }

  .landing-image {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slider-img-div {
    max-height: 250px;
  }

  .trailer-button {
    bottom: 13%;
    left: 6%;
    border-radius: 4px;
    width: 10rem;
    font-family: 'Grandstander', cursive;
    font-size: 0.8em;
    cursor: pointer;
  }

  .footer-icons {
    color: #333333;
  }
}
